@font-face {
  font-family: 'Parisienne';
  src: url('../fonts/Parisienne-Regular.woff2') format('woff2'),
      url('../fonts/Parisienne-Regular.woff') format('woff'),
      url('../fonts/Parisienne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}